Pillow>=10.0.0
opencv-python
numpy
tqdm
ultralytics
open3d
psutil
pandas
matplotlib
seaborn
scipy
nvidia-ml-py
#pyzed==3.8
# Nota : pyzed está comentado para evitar errores si no tiene el SDK instalado .
